<div class="topcoat-grid">
	<div class="topcoat-grid__row">
        <div class="topcoat-grid__column--auto">
            <div class="topcoat-button-bar full">
              <div class="topcoat-button-bar__item">
                <button class="topcoat-button-bar__button--large full" ng-click="toggle('map')">Map</button>
              </div>
              <div class="topcoat-button-bar__item">
                <button class="topcoat-button-bar__button--large full" ng-click="toggle('howto')">How To</button>
              </div>
            </div>
        </div>
    </div>
    <div class="topcoat-grid__row" ng-show="showmap">
        <div class="topcoat-grid__column--auto" >
            <div id="mapcanvas"></div>
        </div>          
    </div>
    <div class="topcoat-grid__row" ng-show="showmap">
        <div class="topcoat-grid__column--auto">
        	<span id="status"></span>
        </div>
    </div>  
    <div class="topcoat-grid__row" ng-show="showhowto">
        <div class="topcoat-grid__column--auto">
        	<div class="well">
        		<ol>
        			<li>Tap on the map area where the meetpoint will be held</li>
        			<li>Copy the text in the box to share manually</li>
        		</ol>
        	</div>
        </div>
    </div>    
</div>